# Entornos locales
.env*
.vercel
.vscode/

# Dependencias
node_modules/
android/
ios/
.android/
.gradle/
build/
dist/

# Config local o temporal
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*